
@charset "UTF-8";

@-ms-viewport	{
	width: device-width;
}

/* IE10以降専用 */
@media all and (-ms-high-contrast:none) {
	  *	{
	  		font-family: 'メイリオ';
	  }
	  h2, h3, h4, h5, a, p, span, ul, ol, li {
	  		font-family: 'メイリオ';
	  }
}