@charset "UTF-8";

@-ms-viewport	{
	width: device-width;
}

html {
  position: relative;
  overflow-x: hidden;
  z-index: 0;
}
body {
    margin: 0;
    overflow-x: hidden;
}


.slide_menu {
	display: none;
}

@media (max-width: 700px) {
  html {
/*    position: relative;*/
  }

  .header .container {
    /*position: relative;*/
/*    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 10;*/
  } 

 	#wide {
		display: none;
	}
  #toggle-btn {
    border: none;
    position: fixed;
    top: 1em;
    right: 5%;
    cursor: pointer;
    background: none;
    text-align: right;  
    z-index: 1000;
  }

  #toggle-btn:focus { /*　クリックしたときの青色の枠線を削除　*/
    outline: none;
  }

  #toggle-btn i {
    color: #fff;
    float: right;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
  }

  #toggle-btn span {
    display: none;
  }
  .slide_menu {
    display: block;
    background-color: #00552e;
    position: absolute;
    top: 0;
    padding: 2em 0 2820px 0;
    right: -100vw;
    width: 100vw;
    height: auto;
    z-index: 0;
  }
 .slide_menu ul {
    display: block;
    margin: 1em 0 1em 0 ;
 }
  .slide_menu li {
  	list-style-type: none;
  	margin: 0 0 0 -2em;
  	padding: 0.5em 0;
    text-align: center;
    float: none;
  }
  .slide_menu li a {
    font-family:  Test, 'Hiragino Kaku Gothic W8 JIS2004', sans-serif;
    font-size: 1.5em;
    color: #fff;
    text-align: center;
  }
  .slide_menu li a:hover {
    color: #f90;
  }
  .slide_menu li>ul>li a  {
    line-height: 1em;
    font-family: 'Hiragino Kaku Gothic Pro', sans-serif;
    font-size: 1em;
    color: #fff;
    text-align: center;
  }
}



