@charset "UTF-8";

@-ms-viewport	{
	width: device-width;
}

.parallax-window {
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	position: relative;
	z-index: 1;
}
.hero .translucent {
	position: relative;
	height: 100%;
	width: 100%;
	bottom: 0;
	right: 0;
	margin: 0;
	padding: 0;
}
.parallax-bg_top01 {
	background-image: url("../img/eGAO_top.jpg");
	background-position: 30% 30%;
}
.parallax-bg_top02 {
	background-image: url("../img/pj_20151224.jpg");
	background-position: 50% 50%;
}
.parallax-bg_company01 {
	background-image: url("../img/eGAO_company.jpg");
	background-position: 30% 30%;
}
.parallax-bg_company02 {
	background-image: url("../img/eGAO_card.jpg");
	background-position: 50% 50%;
}
.parallax-bg_company03 {
	background-image: url("../img/eGAO_company.jpg");
	background-position: 30% 30%;
}
.parallax-bg_company04 {
	background-image: url("../img/eGAO_company.jpg");
	background-position: 30% 30%;
}
.parallax-bg_service01 {
	background-image: url("../img/service.jpg");
	background-position: 50% 100%;
}
.parallax-bg_recruit {
	background-image: none;
	background-position: 30% 30%;
}
.parallax-bg_recruit02{
	background-image: none;
}
.parallax-bg_contact01 {
	background-image: url("../img/telephone.jpg");
	background-position: 50% 50%;
}


/* iPhone iPad 対策（その他スマホや狭いディスプレイも巻き込むけど）*/
@media screen and (max-device-width: 1024px) {
	.parallax-window {
		background-attachment: scroll;
	}
}