a#scrollbtn {
	position: absolute;
	bottom: 1%;
	left: 47%;
	color: #fff;
}
a#scrollbtn * {
	color: #fff;
}
a#scrollbtn *:hover {
	color: #f90;
}
a#scrollbtn p {
	padding-top: 350px;
}
a#scrollbtn span {
	position: absolute;
	bottom: 10%;
	left: 50%;
	width: 46px;
	height: 46px;
	margin-left: -23px;
	border: 2px solid #fff;
	border-radius: 100%;
	box-sizing: border-box;
}
a#scrollbtn span::after {
	position: absolute;
	top: 50%;
	left: 50%;
	content: '';
	width: 50%;
	height: 50%;
	margin: -35% 0 0 -25%;
	border-left: 2px solid #fff;
	border-bottom: 2px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	box-sizing: border-box;
}

@media (max-width: 599px) {
	a#scrollbtn span {
		width: 20px;
		height: 20px;
	}
}