@charset "UTF-8";

@-ms-viewport	{
	width: device-width;
}
@font-face {
    font-family: 'Test';
    src: local(ヒラギノ角ゴシック W8);
}

/* GENERAL */
* {
	font-family: 'メイリオ';
	line-height: 1.4em;
    -o-box-sizing: border-box;
   -ms-box-sizing: border-box;
       box-sizing: border-box;
	color: #00552e;
	font-weight: normal;
}

body {
}

div.nav ul,div.nav ul,div.nav li{display:block;list-style:none;margin:0;padding:0;}

a {
	text-decoration: none;
}
a:hover {
	color: #f90;
}
.container {
	margin: 0 auto;
	padding: 3em 0;
	width: 90%;
	max-width: 1000px;
}
.btn {
	background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #f90;
    border-radius: 6px;
	color: #f90;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    text-decoration: none;
    padding: 0.5em 1.5em 0.5em 2em;
    outline: none;
    width: 10em;
	color: #f90;
	letter-spacing: 0.5em;	
	text-align: center;	
}
.btn:hover {
    background: #f90;
    color: #fff;
    font-weight: bold;
}
h1 {
	font-size: 5em;

}
h2 {
	font-size: 2.5em;
}
h2, h2 span {
	font-family:  Test, 'Hiragino Kaku Gothic W8 JIS2004', 'メイリオ';
}
h3 {
	font-size: 2em;
}
.section-title {
	/*font-weight: bolder;*/
	letter-spacing: 0.5em;
	margin: 0em auto 0 auto;
	text-align: center;
	padding: 0 0;
}
.section-title span {
	margin-right: -0.5em;
}
.section-subtitle {
	font-size: 1.2em;
	margin: 0 auto 2em auto;
	text-align: center;
}
input, button, textarea, select {
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 100%;
}
input[type="text"], textarea,
input[type="email"], input {
	outline: none;
	background: #fff;
	border: 1px solid #aaa;
	border-radius: 4px;
	-webkit-transition: all .3s;
	transition: all .3s;
	padding: 0.3em 1em;

}
input[type="text"]:focus, textarea:focus,
input[type="email"]:focus:focus, input:focus {
	box-shadow: 0 0 7px #00552e;
	border: 1px solid #00552e;
}
label {
	display: none;
}
textarea {
	min-height: 10em;
}
div.narrow {
	display: none;
}


/* HEADER SECTION */
.header{
	background: rgba(0, 0, 0, 0.5);
	/*position: fixed;*/
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	/*text-align: center;*/
	vertical-align: middle;
	margin: 0;
	padding: 0;
	z-index: 10;
}
.header .container {
	padding: 0;
	/*border-bottom: 1px solid #fff;*/
}
.header .container:after {
	content: "";
	display: block;
	clear: both;
}
.header h1 {
	float: left;
	font-weight: normal;
	font-size: 1.5em;
	margin: 0;
	padding: 0.5em 0 0.1em 0;
}
.header .menu {
	float: right;
	margin: 0;
	padding: 0.1em;
}
.header .menu li {
	display: inline-block;
	padding-left: 1em;
}
.header .menu a:hover {
	color: #f90;
}
.header img {
	display: block;
	margin: 0 auto;
	width: 30%;
}
.header a {
	color: #fff;
}

/* HERO SECTION */
.hero {
	border-style: none;
	margin: 0 0 0 0;
	height: 100vh;
}
/*.hero .container {
	padding: 0;
	position: relative;
	height: auto;
	z-index: 1;
}*/
.hero .container h1 {
	color: #fff;
	display: block;
	font-family: Test, 'Hiragino Kaku Gothic W8 JIS2004';
	letter-spacing: 0.2em;
	line-height: 1.2em;
	text-align: right;
/*	margin: 0 -1em 0 0;*/
	-webkit-animation-name: 'anime';
	        animation-name: 'anime';
	-webkit-animation-duration: 3s;
	        animation-duration: 3s;
	-webkit-animation-timing-function: ease;
	        animation-timing-function: ease;
	-webkit-animation-delay: 0;
	        animation-delay: 0;
	-webkit-animation-iteration-count: 1;
	        animation-iteration-count: 1;
	-webkit-animation-direction:alternate;
	        animation-direction:alternate;
}
@-webkit-keyframes 'anime' {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}
@keyframes 'anime' {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}

/* FOOTER01 SECTION */
.footer01 * {
	color: #fff;
	text-align: center;
}
.footer01 {
	background: rgba(0, 0, 0, 0.5);
	/*position: fixed;*/
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
/*    background: #00552e;*/
	margin: 0;
	padding: 0;
	z-index: 2;
}
.footer01 .container {
	padding: 0;
}
.footer01 p#copyright {
	/*border-top: 1px solid #fff;*/
	font-size: 0.9em;
	text-align: center;
    color: #fff;
	/*margin: 1em 0 0 0;*/
	/*padding-top: 1em;*/
}


/* COMPANY SECTION */
.company .multicolumnbox {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.company .column {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 33.3333%;
	-ms-flex: 0 0 33.3333%;
	flex: 0 0 33.3333%;
	max-width: 18em;
}
.company .column-box {
	margin-bottom: 2em;
	max-width: 600px;
	text-align: center;
}
.company .column-image {
	display: block;
	width: 40%;
	margin: 0 auto 1em auto;
	padding: 4%;
	border: 2% solid white;
	border-radius: 50%;
	background-color: #00552e;
	text-align: left;
}
.company .column-box h3 {
	margin: 0;
	padding: 0;
}


/* EGAOpj SECTION */
.egaopj * {
	color: #fff;
}
.egaopj {
	border-style: none;
/*	background: url('../img/pj_20151224.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	height: 500px;*/

}
.egaopj .picup-pj {
	background-color: rgba(0, 0, 0, 0.4);
	border: 1px solid #fff;
    border-radius: 6px;
	margin: 0 auto 2em;
	padding: 1em;
	text-align: center;
	width: 80%;
}
.egaopj .picup-pj p {
	font-size: 2em;
}
.egaopj .btn{
	color: #f90;
}
.egaopj .btn:hover {
	color: #fff;
}

/* RECURITE SECTION */
.recruit .picup-recuruite {
	border: 1px solid #00552e;
    border-radius: 6px;
	margin: 0 auto 2em;
	padding: 1em;
	text-align: center;
	width: 80%;
}
.recruit .picup-recuruite p {
	font-size: 1.3em;
}


/* FOOTER SECTION */
.footer * {
	color: #fff;
	text-align: center;
}
.footer {
    background: #00552e;
	margin: 0;
	padding: 0;
}
.footer .container {
	padding: 2em 0 1em 0;
}
.footer .multicolumnbox {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.footer .column {
  -webkit-box-flex: 0 0 20%;
  -webkit-flex: 0 0 20%;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
    padding: 0;
    max-width: 10em;
}

.footer .column-box {
	width: auto;
	max-width: auto;
	text-align: center;
}
.footer h2 {
    color: #fff;
    line-height: 1em;
	font-size: 1.5em;
	margin: 0;
	padding: 0 0 0.5em 0;
	text-align: center;
}
.footer h3 {
    color: #fff;
	font-size: 1.2em;
	margin: 0;
	padding: 0;
	text-align: center;
}
.footer img {
	width: 70%;
	max-width: 10em;
	margin: 0;
	padding: 0;
}
.footer .column-box > p {
	font-size: 0.6em;
    color: #fff;
	margin: 0;
	padding: 0 0.5em 0 1em;
	text-align: left;
}
.footer ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.footer li {
	color: #fff;
	font-size: 0.9em;
	line-height: 1em;
	padding: 0.3em 0;
}
.footer li>a {
	color: #fff;
	font-size: 0.9em;
	line-height: 1em;
}
.footer li>a:hover {
	color: #f90;
}
.footer .col01 {
/*	-webkit-align-self: center;
	-ms-flex-item-align: center;*/
	/*align-self: center;*/
}
.footer p#copyright {
	border-top: 1px solid #fff;
	font-size: 0.9em;
	text-align: center;
    color: #fff;
	margin: 1em 0 0 0;
	padding-top: 1em;
}

/* @media */
@media (min-width: 1280px) {
	/* HERO SECTION*/
	.hero .container h1 {
		font-size: 7em;
		margin: 0 -1em 0 0;
	}
}

@media (min-width: 600px) and (max-width: 820px) {

	/* GENERAL */
	h1 {
		font-size: 3.5em;
	}
	h2 {
		font-size: 2em;
	}
	h3 {
		font-size: 1.5em;
	}

	/* HERO SECTION*/
	.hero .container h1 {
		padding: 2.4em 0;
	}

	/* COMPANY SECTION */
	.company .column-box p {
		font-size: 0.8em;
	}

	/* RECURITE SECTION */
	.recruit .picup-recuruite p {
		font-size: 1em;
	}
}

@media (max-width: 599px) {
	* {
		font-family: sans-serif;	
	}
	div.wide {
		display: none;
	}
	div.narrow {
		display: block;
	}

	/* GENERAL */
	h1 {
		font-size: 3em;
	}
	h2 {
		font-size: 1.5em;
	}
	h3 {
		font-size: 1.5em;
	}
	.section-title {
		letter-spacing: 0.2em;
	}
	.section-subtitle {
		font-size: 0.7em;
		margin: 0 auto 2em auto;
		text-align: center;
	}

	/* HEADER SECTION*/
	.header .container:after {
		content: "";
		display: block;
		clear: both;
	}
	.header h1 {
		clear: both;
		float: left;
		font-weight: normal;
		font-size: 1.5em;
		margin: 0;
		/*padding: 0.5em 0 0.1em 0;*/
	}
	.header .menu {
		clear: both;
		float: left;
		margin: 0;
		padding: 0.1em;
	}
	.header .menu li {
		/*display: inline-block;*/
		/*padding-left: 1em;*/
	}

	/* HERO SECTION*/
	.hero .container h1 {
		padding: 4.9em 0;
	}

	/* COMPANY SECTION */
	.company .column {
	  -webkit-box-flex: 0;
	  -webkit-flex: 0 0 100%;
	      -ms-flex: 0 0 100%;
	          flex: 0 0 100%;
	}

	/* RECURITE SECTION */
	.recruit .picup-recuruite p {
		font-size: 1em;
		text-align: left;
	}

	/* EGAOpj SECTION */
	.egaopj .picup-pj p {
		font-size: 1em;
	}

	/* FOOTER */
	.footer	.column {
	  -webkit-box-flex: 0;
	  -webkit-flex: 0 0 100%;
	      -ms-flex: 0 0 100%;
	          flex: 0 0 100%;
	    padding-bottom: 2em;
	    max-width: 80%;
	    justify-content: 
	}
	.footer .col01 {
		-webkit-box-ordinal-group: 3;
		-webkit-order: 2;
		-ms-flex-order: 2;
		order: 2;
		padding: 0 0 0 0;
	}
	.footer .column-box > p {
		display: block;
		font-size: 0.8em;
		margin: 0 auto;
		padding: 0 0 0 1em;
	}
}